.container {
  margin: 2.5rem auto;
  max-width: 600px;
}

.container h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.container .gridOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  gap: 0.2rem;
}

.container .gridOne img {
  width: 80px;
  background-color: white;
  border-radius: 20px;
}

.container .gridOneHeading {
  text-align: center;
  margin-top: 1rem;
}

.container .start {
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  background-color: #343434;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  display: block;
}
