*{
  background-color: #4E18DC;
}

.container {
  margin: 2.5rem auto;
  max-width: 400px;
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .gridOne {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    gap: 0.2rem;
    img {
      width: 80px;
      background-color: white;
      border-radius: 20px;
    }
  }
  .gridOneHeading {
    text-align: center;
    margin-top: 1rem;
  }
  .start {
    margin: 1.5rem auto;
    padding: 1rem 2rem;
    background-color: #343434;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    display: block;
  }
}
