*{
 background-color: #4E18DC;;
}

.heading {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  padding: 1rem;
  h1 {
    align-self: center;
    font-size: 2rem;
  }
}

.about {
  display: none;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  max-width: 70%;
  max-height: 70%;
  border-radius: 30px;
  margin: auto;
  padding: 3rem;
  p,.cross {
    background-color: white;
    color: black;
  }
  .cross{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
  }
}

.games{
  margin: 2rem auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
  a{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    margin-top: 1rem ;
    img{
      width: 200px;
      margin: auto;
      display: block;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
      border-radius: 10px;
    }
  }
}