@mixin flexCenter{
  max-width: 1000px;
  display: flex;
  justify-content:space-between;
  align-content: center;
  margin: 0 auto;
  padding:1rem;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #4E18DC;
  font-family: 'Nunito', sans-serif;
}

button{
   padding: 0.5rem 1rem;
   border:none;
   border-radius: 30px;
   font-size: 1.2rem;
   cursor: pointer;
}

.header,.about{
  @include flexCenter()
}

a{
  text-decoration: none;
  color: white;
}

.menu{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0.2rem 0.6rem;
  background-color: #343434;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}